<%- include('includes/head.ejs')%>

<%- include('includes/nav.ejs')%>

<main class="main">
    <h1>Error Occurred</h1>
    <h2>Sorry, we're working on fixing this</h2>
</main>
<%- include('includes/end.ejs')%>

